advanced-mule/src/main/mule/advanced-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="299ce6c2-8ec4-4694-a41c-eea78f91791e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="advanced-muleFlow" doc:id="2ecb57c8-d33e-414a-9d24-5602ad6c8488" >
		<http:listener doc:name="Listener" doc:id="01794113-e5fe-4c8c-acaf-047ef01e1add" config-ref="HTTP_Listener_config" path="/api/*"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="66fe4a7c-8cb3-4b05-9a9d-3fc04b89039d" />
	</flow>
</mule>
